aside {
    width: 30%;
    border: 2px solid;
    height: 630px;
    overflow: scroll;
    color: white;
    bottom: 0%;
    background-color: navy;
    display: inline-block   ;
}
.aw {
    font-size: 56px;
    margin-left: 20px;
 

}
.ar {
    font-size: 40px;
    margin-left: 20px;
       
    
}
.blank {
    width: 18%;
    height: 50%;
    border: 2px solid;
    display: inline-block;
    position: absolute;
    top: 60px;

}
.bd {
    display: inline-block;
    display: inline-block;
    position: absolute;
    top:380px;
    color: rgba(0, 0, 0, 0.753);
}
.a1 {
    color: black;
}
header {
    width: 100%;
    position: fixed;
    border-bottom: 2px solid #daddad;
    z-index: 2;
    background-color: white;
    top: 35px;
  
}
ul {
    margin-right: 40px;
}
li {
    display: inline-block;
    padding: 0.6em;
}
li:hover {
    color: navy;
    cursor: pointer;
}
.mad {
    background-color: red;
    color: white;
    text-align: center;
}
.id {
    position: absolute;
    top: 150px;
    left: 80px;
    height: 150%;
    width: 100%;
}
#t1 {
    width: 80%;
    height: 80%;
    padding: 50px;
    font-weight: bold;
    font-size: 26px;
}



